/** Modelos **/
.modelos {
    padding: 5rem 0;

    .header-modelos {
        font-size: 6rem;
        margin-bottom: 5rem;
    }

    .listado-modelos {
        display: flex;
        flex-direction: column-reverse;

        @media (min-width: 1200px) { 
            display: grid;
            grid-template-columns: 1fr 1fr;;
            gap: 2.5rem;
        }

        .modelo {
            background-color: var(--grisClaro);
            margin: 1.5rem 0rem;
            padding: 1rem 4rem;
            color: var(--primario);
            border-radius: 2rem;
            min-height: 20rem;
            background-repeat: no-repeat;
            background-position:calc(100% - 10%);
            background-size: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
      

            &:hover {
                transform: scale(1.1);
                background-size: 20rem;
            }

            h3 {
                font-size: 2.5rem;
            }         

            .precio {
                font-size: 4rem;
                font-weight: 900;
                line-height: 0;
            }

               @media (min-width: 768px) {                
                    background-size: 20rem;               
                h3 {
                    font-size: 4rem;
                }
               &:hover {
                    transform: scale(1.1);
                    background-size: 25rem;
                }
            }

           

            &-x {
                background-image: url(../img/modelo-x.svg);
            }

            &-y {
                background-image: url(../img/modelo-y.svg);
            }

            &-z {
                background-image: url(../img/modelo-z.svg);
                background-color: var(--primario);
                color: var(--blanco);  
            }
        }
    }
}
