/** Globales **/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

a {
    text-decoration: none;
}

img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }

/** Utilidades **/
.text-center {
    text-align: center;
}

/** Degradados **/
.degradado-verde {
    color: transparent;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100% );
    -webkit-background-clip: text;
    background-clip: text;
}
