.formulario {
    .campo {
        margin-bottom: 2rem;
    }

    label {
        display: block;
        margin-bottom: 0.8rem;
        font-weight: bold;
        color: var(--blanco);
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        width: 100%;
        padding: 1.2rem;
        border: 1px solid var(--grisClaro);
        border-radius: 0.5rem;
        font-size: 1.6rem;
        font-family: var(--fuentePrincipal);
        background-color: var(--blanco);
    }

    input:focus {
        outline: none;
        border-color: var(--primario);
    }

   
}

.fila-dos-campos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
